body{
    background-color: #e7e7e2;
}
#production{
   
}
.wraper{
    height: 300px;
    width:300px ;
    border: solid 2px white;
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
}
    .wraper2{
      height: 250px;
      width:350px ;
    
      border-radius: 5px;
      text-align: center;
      color: rgb(19, 19, 19);
      padding-top: 10px;
}

.wrapper.six{
    background-color: #f8b014;
    width: 40%;
    margin-left: 330px;
    text-align: center;
    border: solid 4px white;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .flicker {
    font-size: 3rem;
    font-family: 'Merienda', sans-serif;
    margin: 1rem auto;
    color: #fafaf661;
    background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
    background-size: 110px 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: flick 1.5s infinite;
  }
  @keyframes flick {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }

  .animate-charcter{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
    
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 25px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
  
::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background-color:rgba(89, 119, 135, 0.9); */
    }